<br>
<br>
<br>
<br>
<div class='row'>
    <div class='col-lg-12'>
        <h3 class='mldrow'>
            View Recepies
        </h3>
        <h2 class='left'>Browes and views recepies</h2>
        <p><%= link_to 'Browes recipes', recipes_path, class:'btn btn-small btn-warning' %></p>
    </div>
</div>